In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
spark=SparkSession.builder.appName("Introduction to Dataframes II"). getOrCreate()

In [4]:
df=spark.read.json("C:/Users/User/Desktop/Data/people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
# Change Schema
schem=StructType([StructField("age",IntegerType(),True),
                  StructField("name", StringType(),True)
    
])

In [9]:
df=spark.read.json("C:/Users/User/Desktop/Data/people.json",schema=schem)

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
type(df['age'])

pyspark.sql.column.Column

In [14]:
df["age"]

Column<'age'>

In [15]:
df.select(df["age"]).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
type(df.select(df["age"]))

pyspark.sql.dataframe.DataFrame

In [25]:
# THe head method produces a typle 
df.head(2)[0]

Row(age=None, name='Michael')

In [24]:
df.head(2)[0][1]

'Michael'

In [26]:
type(df.head(2)[0][1])

str

In [27]:
# So there are so many types of data becuase spark abilty to reads from a distributed data source and map it out
# to a distributed computing
type(df.head(2)[0])

pyspark.sql.types.Row

In [28]:
 df.select(["age","name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Add Columns

In [33]:
df.withColumn("newage", df["age"] *2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [34]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Rename Columnns

In [35]:
df.withColumnRenamed('age','agee').show()

+----+-------+
|agee|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Use SparkSQL to query data

In [36]:
df.createOrReplaceTempView("sql")

In [38]:
spark.sql("select * from sql").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
spark.sql("select * from sql where age is null ").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
+----+-------+