In [1]:
#Create a Spark  Session in order to be capable of accessing all Spark API
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark=SparkSession.builder.appName("Intro to Dataframe").getOrCreate()

In [2]:
df=spark.read.csv("C:/Users/User/Desktop/SparkFolder/Data/purchases.csv",inferSchema=True,header=True)

In [3]:
df.printSchema()

root
 |-- Date	Time	City	Item	Total	Payment: string (nullable = true)

Definr Data Schema for file we want to  read

In [4]:
purchaseschema=StructType(
                            [ StructField("Date",DateType(),True),
                              StructField("Time",StringType(),True),
                              StructField("City",StringType(),True),
                              StructField("Item",StringType(),True),
                              StructField("Total",FloatType(),True),
                              StructField("Payment",StringType(),True)
                             

                            ]
)

In [5]:
df=spark.read.csv("C:/Users/User/Desktop/SparkFolder/Data/purchases.csv",schema=purchaseschema,header=True,sep="\t")

In [6]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Time: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Total: float (nullable = true)
 |-- Payment: string (nullable = true)

In [7]:
df.show(5)

+----------+-----+----------+-------------------+------+----------+
|      Date| Time|      City|               Item| Total|   Payment|
+----------+-----+----------+-------------------+------+----------+
|2012-01-01|09:00|  San Jose|     Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|Fort Worth|   Women's Clothing|153.57|      Visa|
|2012-01-01|09:00| San Diego|              Music| 66.08|      Cash|
|2012-01-01|09:00|Pittsburgh|       Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|     Omaha|Children's Clothing|235.63|MasterCard|
+----------+-----+----------+-------------------+------+----------+
only showing top 5 rows

Counting the Number of rows , printing the Dataframe  Schema and Printng Statistic of the data

In [8]:
# Count number of rows of our dataframe
df_rows=df.count()
print(f"the number of records  is :" , df_rows)

the number of records  is : 4138476

In [9]:
# Show data Statistics
df.describe().show()

+-------+-------+-------------+----------------+------------------+-------+
|summary|   Time|         City|            Item|             Total|Payment|
+-------+-------+-------------+----------------+------------------+-------+
|  count|4138476|      4138476|         4138476|           4138476|4138476|
|   mean|   null|         null|            null|249.96108549398525|   null|
| stddev|   null|         null|            null| 144.3174111542959|   null|
|    min|  09:00|  Albuquerque|            Baby|               0.0|   Amex|
|    max|  17:59|Winstonâ€“Salem|Women's Clothing|            499.99|   Visa|
+-------+-------+-------------+----------------+------------------+-------+

In [10]:
# Create a new Dataframe from Coty and Total Columns
df.select(["City","Total"]).show()

+--------------+------+
|          City| Total|
+--------------+------+
|      San Jose|214.05|
|    Fort Worth|153.57|
|     San Diego| 66.08|
|    Pittsburgh|493.51|
|         Omaha|235.63|
|      Stockton|247.18|
|        Austin| 379.6|
|      New York| 296.8|
|Corpus Christi| 25.38|
|    Fort Worth|213.88|
|     Las Vegas| 53.26|
|        Newark| 39.75|
|        Austin|469.63|
|    Greensboro|290.82|
| San Francisco|260.65|
|       Lincoln| 136.9|
|       Buffalo|483.82|
|      San Jose|215.82|
|        Boston|418.94|
|       Houston|309.16|
+--------------+------+
only showing top 20 rows

 Adding a Constant value to every row in Total Column

In [11]:
df.select(["City",df["Total"]+ 10]).show()

+--------------+------------+
|          City|(Total + 10)|
+--------------+------------+
|      San Jose|      224.05|
|    Fort Worth|      163.57|
|     San Diego|       76.08|
|    Pittsburgh|      503.51|
|         Omaha|      245.63|
|      Stockton|      257.18|
|        Austin|       389.6|
|      New York|       306.8|
|Corpus Christi|   35.379997|
|    Fort Worth|      223.88|
|     Las Vegas|       63.26|
|        Newark|       49.75|
|        Austin|      479.63|
|    Greensboro|      300.82|
| San Francisco|      270.65|
|       Lincoln|       146.9|
|       Buffalo|      493.82|
|      San Jose|      225.82|
|        Boston|      428.94|
|       Houston|      319.16|
+--------------+------------+
only showing top 20 rows

Filtering DataFrame using some Specific  Conditions

In [12]:
# Filter all records with total greater than 20
df.filter(df["Total"] > 200 ).show()

+----------+-----+--------------+--------------------+------+----------+
|      Date| Time|          City|                Item| Total|   Payment|
+----------+-----+--------------+--------------------+------+----------+
|2012-01-01|09:00|      San Jose|      Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|    Pittsburgh|        Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|         Omaha| Children's Clothing|235.63|MasterCard|
|2012-01-01|09:00|      Stockton|      Men's Clothing|247.18|MasterCard|
|2012-01-01|09:00|        Austin|             Cameras| 379.6|      Visa|
|2012-01-01|09:00|      New York|Consumer Electronics| 296.8|      Cash|
|2012-01-01|09:00|    Fort Worth|                Toys|213.88|      Visa|
|2012-01-01|09:00|        Austin|             Cameras|469.63|MasterCard|
|2012-01-01|09:00|    Greensboro|                DVDs|290.82|MasterCard|
|2012-01-01|09:00| San Francisco|               Music|260.65|  Discover|
|2012-01-01|09:00|       Buffalo|    Women's Clothing|483.82|      Visa|
|2012-01-01|09:00|      San Jose|    Women's Clothing|215.82|      Cash|
|2012-01-01|09:00|        Boston|             Cameras|418.94|      Amex|
|2012-01-01|09:00|       Houston|                Baby|309.16|      Visa|
|2012-01-01|09:00|Virginia Beach| Children's Clothing|376.11|      Amex|
|2012-01-01|09:01|     Riverside|Consumer Electronics|252.88|      Cash|
|2012-01-01|09:01|         Tulsa|                Baby|205.06|      Visa|
|2012-01-01|09:01|    Fort Wayne|      Men's Clothing|370.55|      Amex|
|2012-01-01|09:01|        Austin|      Sporting Goods|327.75|  Discover|
|2012-01-01|09:01|     Anchorage|               Music|298.86|MasterCard|
+----------+-----+--------------+--------------------+------+----------+
only showing top 20 rows

Sorting DataFrame by Columns

In [13]:
from pyspark.sql.functions import *
df.orderBy("Total").show()  # Sort by ascending

+----------+-----+----------------+--------------------+-----+----------+
|      Date| Time|            City|                Item|Total|   Payment|
+----------+-----+----------------+--------------------+-----+----------+
|2012-11-14|09:51| North Las Vegas|    Women's Clothing|  0.0|MasterCard|
|2012-10-23|16:22|      Pittsburgh|                Baby|  0.0|      Cash|
|2012-10-19|11:05|          Newark|      Men's Clothing|  0.0|      Amex|
|2012-10-07|15:47|         El Paso|Consumer Electronics|  0.0|      Visa|
|2012-10-23|09:55|      Chesapeake|               Books|  0.0|  Discover|
|2012-11-03|14:28|       Milwaukee|                 CDs|  0.0|  Discover|
|2012-11-01|13:24|         Phoenix|                Baby|  0.0|      Amex|
|2012-11-03|12:31|         Spokane|   Health and Beauty|  0.0|      Amex|
|2012-11-11|17:47|          Irvine|      Men's Clothing|  0.0|      Amex|
|2012-10-24|17:45|         Memphis|        Pet Supplies|  0.0|      Visa|
|2012-11-24|15:05|          Austin|             Cameras|  0.0|      Visa|
|2012-11-24|17:13|Colorado Springs|                DVDs|  0.0|      Visa|
|2012-12-03|14:22|         Lubbock|              Crafts|  0.0|MasterCard|
|2012-12-10|17:39|       Las Vegas|        Pet Supplies|  0.0|      Amex|
|2012-12-19|09:02|         Houston|    Women's Clothing|  0.0|  Discover|
|2012-12-20|09:26|     Baton Rouge|              Garden|  0.0|      Amex|
|2012-12-22|14:02|         Anaheim|               Books|  0.0|      Amex|
|2012-12-25|12:19|      Saint Paul|    Women's Clothing|  0.0|  Discover|
|2012-12-27|11:46|       Henderson|    Women's Clothing|  0.0|MasterCard|
|2012-12-29|13:58|           Boise|   Health and Beauty|  0.0|      Cash|
+----------+-----+----------------+--------------------+-----+----------+
only showing top 20 rows

In [14]:
df.orderBy(df["Total"].desc()).show()

+----------+-----+-------------+--------------------+------+----------+
|      Date| Time|         City|                Item| Total|   Payment|
+----------+-----+-------------+--------------------+------+----------+
|2012-05-17|13:15|      Gilbert|    Women's Clothing|499.99|      Amex|
|2012-04-16|15:44|    Henderson|         Video Games|499.99|MasterCard|
|2012-04-07|09:17|Oklahoma City| Children's Clothing|499.99|  Discover|
|2012-07-02|15:50|    Anchorage|Consumer Electronics|499.99|      Visa|
|2012-05-15|10:32|    Baltimore|         Video Games|499.99|  Discover|
|2012-11-24|16:55|      Seattle|                Baby|499.99|  Discover|
|2012-10-07|15:19|      Phoenix| Children's Clothing|499.99|      Amex|
|2012-10-08|13:08|      Hialeah| Children's Clothing|499.99|      Amex|
|2012-05-18|11:20|   Long Beach|      Sporting Goods|499.99|      Amex|
|2012-05-11|17:08|     San Jose| Children's Clothing|499.99|      Visa|
|2012-12-26|15:14|      Buffalo|   Health and Beauty|499.99|      Visa|
|2012-12-27|11:25|      Hialeah|        Pet Supplies|499.99|  Discover|
|2012-12-28|11:56|    Henderson|           Computers|499.99|      Amex|
|2012-11-25|11:15|      Oakland|                 CDs|499.99|      Cash|
|2012-10-10|13:26|      Lincoln|                DVDs|499.99|MasterCard|
|2012-11-28|17:20|      Orlando|               Books|499.99|      Visa|
|2012-10-18|12:02|     New York|              Crafts|499.99|      Visa|
|2012-12-09|09:32|       Fresno|   Health and Beauty|499.99|  Discover|
|2012-11-20|14:50|      Houston|           Computers|499.99|  Discover|
|2012-12-25|10:58| Jacksonville|         Video Games|499.99|      Visa|
+----------+-----+-------------+--------------------+------+----------+
only showing top 20 rows

Calculating the number of Transactions in Each City

In [15]:
df.groupBy("City").count().show(5)

+---------------+-----+
|           City|count|
+---------------+-----+
|North Las Vegas|40013|
|        Phoenix|40333|
|          Omaha|40209|
|      Anchorage|39806|
|        Anaheim|40086|
+---------------+-----+
only showing top 5 rows

In [16]:
aa=df.groupBy("City").count()
aa.filter(aa["City"]=="Omaha").show()

+-----+-----+
| City|count|
+-----+-----+
|Omaha|40209|
+-----+-----+

Indexing and Accessing DataFrame
* Since spark DataFrame is distributed into VLusters, we cannot access it by [row,column] as in Pandas DataFrame. There is an alternative way to do that
* By creating new Column with "Incremental ID".  Then we can access the rows by using the ".filter() function to our incremetal ID Column

In [17]:
from pyspark.sql.functions import monotonically_increasing_id
df1=df.withColumn("Index",monotonically_increasing_id())
df1.show(2)

+----------+-----+----------+----------------+------+-------+-----+
|      Date| Time|      City|            Item| Total|Payment|Index|
+----------+-----+----------+----------------+------+-------+-----+
|2012-01-01|09:00|  San Jose|  Men's Clothing|214.05|   Amex|    0|
|2012-01-01|09:00|Fort Worth|Women's Clothing|153.57|   Visa|    1|
+----------+-----+----------+----------------+------+-------+-----+
only showing top 2 rows

In [18]:
df1.filter((df1["Index"]> 2) & (df1["Index"] < 5)).show()

+----------+-----+----------+-------------------+------+----------+-----+
|      Date| Time|      City|               Item| Total|   Payment|Index|
+----------+-----+----------+-------------------+------+----------+-----+
|2012-01-01|09:00|Pittsburgh|       Pet Supplies|493.51|  Discover|    3|
|2012-01-01|09:00|     Omaha|Children's Clothing|235.63|MasterCard|    4|
+----------+-----+----------+-------------------+------+----------+-----+

using SQL Queries in Spark

In [21]:
df1.createOrReplaceTempView("Purchase")

In [22]:
results=spark.sql("Select * from purchase where index between 10 and 15 ")

In [23]:
results.show()

+----------+-----+-------------+-----------+------+----------+-----+
|      Date| Time|         City|       Item| Total|   Payment|Index|
+----------+-----+-------------+-----------+------+----------+-----+
|2012-01-01|09:00|    Las Vegas|Video Games| 53.26|      Visa|   10|
|2012-01-01|09:00|       Newark|Video Games| 39.75|      Cash|   11|
|2012-01-01|09:00|       Austin|    Cameras|469.63|MasterCard|   12|
|2012-01-01|09:00|   Greensboro|       DVDs|290.82|MasterCard|   13|
|2012-01-01|09:00|San Francisco|      Music|260.65|  Discover|   14|
|2012-01-01|09:00|      Lincoln|     Garden| 136.9|      Visa|   15|
+----------+-----+-------------+-----------+------+----------+-----+

In [29]:
spark.sql("Select * from purchase  where city like '%ma%' ").show()

+----------+-----+-------------+--------------------+------+----------+-----+
|      Date| Time|         City|                Item| Total|   Payment|Index|
+----------+-----+-------------+--------------------+------+----------+-----+
|2012-01-01|09:00|        Omaha| Children's Clothing|235.63|MasterCard|    0|
|2012-01-01|09:01|        Omaha|                Baby|255.68|MasterCard|    1|
|2012-01-01|09:03|        Omaha| Children's Clothing|387.75|      Visa|    2|
|2012-01-01|09:06|        Omaha|   Health and Beauty|333.15|MasterCard|    3|
|2012-01-01|09:06|        Omaha|                DVDs|164.38|      Cash|    4|
|2012-01-01|09:09|        Omaha|Consumer Electronics| 435.3|      Visa|    5|
|2012-01-01|09:12|Oklahoma City|               Music|162.52|  Discover|    6|
|2012-01-01|09:13|Oklahoma City|   Health and Beauty| 495.4|      Visa|    7|
|2012-01-01|09:19|        Omaha|             Cameras|436.01|  Discover|    8|
|2012-01-01|09:22|Oklahoma City| Children's Clothing|166.08|MasterCard|    9|
|2012-01-01|09:23|Oklahoma City|           Computers|478.32|  Discover|   10|
|2012-01-01|09:24|        Omaha|             Cameras|427.08|MasterCard|   11|
|2012-01-01|09:26|        Omaha|                Toys|160.88|  Discover|   12|
|2012-01-01|09:27|Oklahoma City|    Women's Clothing|   3.9|      Amex|   13|
|2012-01-01|09:31|Oklahoma City|    Women's Clothing| 14.62|      Cash|   14|
|2012-01-01|09:31|        Omaha|                DVDs| 188.5|  Discover|   15|
|2012-01-01|09:36|Oklahoma City|Consumer Electronics|150.99|  Discover|   16|
|2012-01-01|09:44|Oklahoma City|    Women's Clothing|474.29|MasterCard|   17|
|2012-01-01|09:47|        Omaha|        Pet Supplies| 46.82|  Discover|   18|
|2012-01-01|09:48|        Omaha|                Toys| 53.24|      Cash|   19|
+----------+-----+-------------+--------------------+------+----------+-----+
only showing top 20 rows