# Spark DataFrame Basics

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Start the Spark Session 
spark=SparkSession.builder.appName("SparkDataFrame Basics").getOrCreate()

In [3]:
df=spark.read.json("C:/Users/User/Desktop/SparkFolder/Data/people.json")

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns   # Its an attribute

['age', 'name']

In [7]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import  (StructField,StringType
                                ,StructType,IntegerType)

In [10]:
data_schema=[StructField("age",IntegerType(),True),
             StructField("name",StringType(),True) ]

In [11]:
final_struc=StructType(fields=data_schema)

In [12]:
df=spark.read.json("C:/Users/User/Desktop/SparkFolder/Data/people.json",schema=final_struc)

In [13]:
#Infer Schema
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
# !pip install koalas

In [15]:
# import databricks.koalas as ks

In [16]:
# df=ks.read_json("C:/Users/User/Desktop/SparkFolder/Data/people.json")

In [17]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Select Columns

In [18]:

df.select('age','name').show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [21]:
type(df["age"])  # This results in column object

pyspark.sql.column.Column

In [22]:
type(df.select('age'))  #This results in Dataframe object

pyspark.sql.dataframe.DataFrame

In [23]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [24]:
df.head(2)[0]

Row(age=None, name='Michael')

In [25]:
type(df.head(2)[0])

pyspark.sql.types.Row

# Add Columns

In [27]:
df.withColumn("newage",df["age"]/2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|  15.0|
|  19| Justin|   9.5|
+----+-------+------+

In [38]:
df.withColumn("newage", df['age'] * 2).show()

+----+-------+------------+
| age|   name|newagenewage|
+----+-------+------------+
|null|Michael|        null|
|  30|   Andy|          30|
|  19| Justin|          19|
+----+-------+------------+

# Rename Columns

In [41]:
df.withColumnRenamed('age','age_renamed').show()

+-----------+-------+
|age_renamed|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

# Use Ansi SQL to Dirrectly Deal with DataFrame
* We Will Create a Temporary View

In [48]:
df.createOrReplaceTempView("People")

In [49]:
# You call the sql API from  the Spark Session created
results=spark.sql("SELECT * FROM People")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Global temporary view is cross-session. Its lifetime is the lifetime of the Spark application, 
i.e. it will be automatically dropped when the application terminates.
It's tied to a system preserved database global_temp, and we must use the qualified name to refer a global temp view,
e.g. SELECT * FROM global_temp.view1

In [51]:

df.createOrReplaceGlobalTempView("people2")
results=spark.sql("select * from global_temp.people2") # IF you take way the prefix global_temp it will give you an error.
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [54]:
new_results= spark.sql("select  * from people where age  > 20").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+