In [1]:
# Start Spark Session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Groupby and Agg.").getOrCreate()

23/11/21 16:11:02 WARN Utils: Your hostname, Sols-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.0.0.227 instead (on interface en0)
23/11/21 16:11:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/21 16:11:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df=spark.read.csv('/Users/solansah/Desktop/Data/sales_info.csv',header=True,inferSchema=True)

In [5]:
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

In [7]:
df.collect()

[Row(Company='GOOG', Person='Sam', Sales=200.0),
 Row(Company='GOOG', Person='Charlie', Sales=120.0),
 Row(Company='GOOG', Person='Frank', Sales=340.0),
 Row(Company='MSFT', Person='Tina', Sales=600.0),
 Row(Company='MSFT', Person='Amy', Sales=124.0),
 Row(Company='MSFT', Person='Vanessa', Sales=243.0),
 Row(Company='FB', Person='Carl', Sales=870.0),
 Row(Company='FB', Person='Sarah', Sales=350.0),
 Row(Company='APPL', Person='John', Sales=250.0),
 Row(Company='APPL', Person='Linda', Sales=130.0),
 Row(Company='APPL', Person='Mike', Sales=750.0),
 Row(Company='APPL', Person=' Chris', Sales=350.0)]

In [8]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [9]:
df.groupBy("Company").sum()

DataFrame[Company: string, sum(Sales): double]

In [11]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [13]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [14]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

# PySpark Functions

In [15]:
from pyspark.sql.functions import count_distinct,avg, stddev

In [17]:
df.select(count_distinct("Company")).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

# Format Number

In [18]:
from pyspark.sql.functions import format_number

In [19]:
df.select(format_number(stddev('Sales'),2)).show()

+------------------------------------+
|format_number(stddev_samp(Sales), 2)|
+------------------------------------+
|                              250.09|
+------------------------------------+

In [22]:
df.select(format_number(stddev('Sales'),2).alias('decimated')).show()

+---------+
|decimated|
+---------+
|   250.09|
+---------+

#  Sorting or Order By

In [23]:
df.orderBy('Sales').show()   # by default ita by ascending

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [24]:
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+