In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Groupby and aggregrates").getOrCreate()

In [8]:
spark

In [9]:
df=spark.read.csv('/Users/solansah/Desktop/Data/sales_info.csv',header=True,inferSchema=True)
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [10]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [11]:
df.groupBy("Company").sum()

DataFrame[Company: string, sum(Sales): double]

In [12]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [13]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [17]:
df.groupBy("Company").agg({'Sales':'sum'}).show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [18]:
df.groupBy("Company").agg({'Sales':'sum','Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

# Pyspark Functions

In [22]:
from pyspark.sql.functions import count_distinct, avg,stddev

In [23]:
df.select(count_distinct("Company")).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [29]:
a=df.select(count_distinct("Company"))
a.show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [34]:
a.withColumnRenamed('count(DISTINCT Company)','distinct').show()

+--------+
|distinct|
+--------+
|       4|
+--------+

# Using alias to Rename a Column

In [36]:
a.show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [37]:
a.alias('new renamed Column').show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [39]:
df.select(count_distinct('Company')).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [43]:
df.select(count_distinct('Company').alias("New")).show()

+---+
|New|
+---+
|  4|
+---+

In [44]:
df.select(stddev('Sales')).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

# Format Number

In [45]:
from pyspark.sql.functions import format_number

In [47]:
df.select(format_number(stddev('Sales'),2)).show()   # Remember format_number is a function so it will take an argument

+------------------------------------+
|format_number(stddev_samp(Sales), 2)|
+------------------------------------+
|                              250.09|
+------------------------------------+

In [49]:
df.select(format_number(stddev('Sales'),2).alias('decimated')).show()   # Remember for alias also you call on the expression

+---------+
|decimated|
+---------+
|   250.09|
+---------+