In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Groupby and aggregrates").getOrCreate()

23/11/21 12:03:04 WARN Utils: Your hostname, Sols-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.0.0.227 instead (on interface en0)
23/11/21 12:03:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/21 12:03:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df=spark.read.csv('/Users/solansah/Desktop/Data/sales_info.csv',header=True,inferSchema=True)
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [4]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [5]:
df.groupBy("Company").sum()

DataFrame[Company: string, sum(Sales): double]

In [6]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [7]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [8]:
df.groupBy("Company").agg({'Sales':'sum'}).show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [9]:
df.groupBy("Company").agg({'Sales':'sum','Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

# Pyspark Functions

In [10]:
from pyspark.sql.functions import count_distinct, avg,stddev

In [11]:
df.select(count_distinct("Company")).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [12]:
a=df.select(count_distinct("Company"))
a.show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [13]:
a.withColumnRenamed('count(DISTINCT Company)','distinct').show()

+--------+
|distinct|
+--------+
|       4|
+--------+

# Using alias to Rename a Column

In [14]:
a.show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [15]:
a.alias('new renamed Column').show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [16]:
df.select(count_distinct('Company')).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

In [17]:
df.select(count_distinct('Company').alias("New")).show()

+---+
|New|
+---+
|  4|
+---+

In [18]:
df.select(stddev('Sales')).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

# Format Number
* For formating the number . Just like round in sql

In [19]:
from pyspark.sql.functions import format_number

In [20]:
df.select(format_number(stddev('Sales'),2)).show()   # Remember format_number is a function so it will take an argument

+------------------------------------+
|format_number(stddev_samp(Sales), 2)|
+------------------------------------+
|                              250.09|
+------------------------------------+

In [21]:
df.select(format_number(stddev('Sales'),2).alias('decimated')).show()   # Remember for alias also you call on the expression

+---------+
|decimated|
+---------+
|   250.09|
+---------+

# Sorting or Order By
* By defualt Orderby is ascending
* For descending please use method .desc

In [22]:
df.orderBy('Sales').show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [23]:
df.orderBy(df['Sales'].desc()).show()   # Its a method so we will call it off the object

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [ ]:
the end