In [1]:
#Import Pyspark Library
# !pip install pyspark

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark=SparkSession.builder.appName("Data Analysis").getOrCreate()

In [5]:
spark

In [9]:
df=spark.read.json("C:/Users/User/Desktop/Data/people.json")

In [10]:
df.show(truncate=False,n=20)

+----+-------+
|age |name   |
+----+-------+
|null|Michael|
|30  |Andy   |
|19  |Justin |
+----+-------+

In [11]:
#Print Schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.show(2)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
+----+-------+
only showing top 2 rows

In [13]:
df.columns

['age', 'name']

In [14]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [15]:
df.describe()

DataFrame[summary: string, age: string, name: string]