In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark=SparkSession.builder.appName("Basic Operations").getOrCreate()

In [3]:
df=spark.read.csv("C:/Users/User/Desktop/Data/appl_stock.csv", inferSchema=True)

In [4]:
df.head()

Row(_c0='Date', _c1='Open', _c2='High', _c3='Low', _c4='Close', _c5='Volume', _c6='Adj Close')

In [5]:
df.show(5)

+----------+----------+----------+------------------+----------+---------+------------------+
|       _c0|       _c1|       _c2|               _c3|       _c4|      _c5|               _c6|
+----------+----------+----------+------------------+----------+---------+------------------+
|      Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
|2010-01-04|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
|2010-01-06|214.379993|    215.23|        210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|        209.050005|    210.58|119282800|          27.28265|
+----------+----------+----------+------------------+----------+---------+------------------+
only showing top 5 rows

In [8]:
df=spark.read.csv("C:/Users/User/Desktop/Data/appl_stock.csv", inferSchema=True, header=True)

In [9]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [17]:
schema=StructType(
[
StructField("Date",DateType(),True),
StructField("Open",FloatType(),True),
StructField("Hgh",FloatType(),True),
StructField("Low",FloatType(),True),
StructField("Close",FloatType(),True),
StructField("Volume",IntegerType(),True),
StructField("Adj Close",FloatType(),True)
]
)

In [18]:
df=spark.read.csv("C:/Users/User/Desktop/Data/appl_stock.csv", schema=schema, header=True)

In [19]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- Hgh: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: float (nullable = true)

In [23]:
df.head(5)

[Row(Date=datetime.date(2010, 1, 4), Open=213.42999267578125, Hgh=214.5, Low=212.3800048828125, Close=214.00999450683594, Volume=123432400, Adj Close=27.727039337158203),
 Row(Date=datetime.date(2010, 1, 5), Open=214.59999084472656, Hgh=215.58999633789062, Low=213.25, Close=214.37998962402344, Volume=150476200, Adj Close=27.77497673034668),
 Row(Date=datetime.date(2010, 1, 6), Open=214.37998962402344, Hgh=215.22999572753906, Low=210.75, Close=210.97000122070312, Volume=138040000, Adj Close=27.33317756652832),
 Row(Date=datetime.date(2010, 1, 7), Open=211.75, Hgh=212.0, Low=209.0500030517578, Close=210.5800018310547, Volume=119282800, Adj Close=27.282649993896484),
 Row(Date=datetime.date(2010, 1, 8), Open=210.29998779296875, Hgh=212.0, Low=209.05999755859375, Close=211.98001098632812, Volume=111902700, Adj Close=27.464033126831055)]

In [25]:
df.head(5)[2]  # Grab second row from first 5 columns

Row(Date=datetime.date(2010, 1, 6), Open=214.37998962402344, Hgh=215.22999572753906, Low=210.75, Close=210.97000122070312, Volume=138040000, Adj Close=27.33317756652832)

# Filtering in Spark

In [27]:
df.filter("close < 500").show()

+----------+---------+---------+---------+---------+---------+---------+
|      Date|     Open|      Hgh|      Low|    Close|   Volume|Adj Close|
+----------+---------+---------+---------+---------+---------+---------+
|2010-01-04|   213.43|    214.5|   212.38|   214.01|123432400| 27.72704|
|2010-01-05|214.59999|   215.59|   213.25|214.37999|150476200|27.774977|
|2010-01-06|214.37999|   215.23|   210.75|   210.97|138040000|27.333178|
|2010-01-07|   211.75|    212.0|   209.05|   210.58|119282800| 27.28265|
|2010-01-08|210.29999|    212.0|   209.06|211.98001|111902700|27.464033|
|2010-01-11|    212.8|    213.0|208.45001|   210.11|115557400|27.221758|
|2010-01-12|   209.19|209.76999|   206.42|   207.72|148614900| 26.91211|
|2010-01-13|207.87001|   210.93|204.09999|210.65001|151473000| 27.29172|
|2010-01-14|   210.11|210.45999|   209.02|   209.43|108223500|27.133657|
|2010-01-15|   210.93|211.59999|   205.87|   205.93|148516900|26.680199|
|2010-01-19|   208.33|   215.19|   207.24|   215.04|182501900|27.860485|
|2010-01-20|   214.91|215.54999|    209.5|   211.73|153038200|27.431644|
|2010-01-21|212.07999|   213.31|   207.21|208.06999|152038600|26.957455|
|2010-01-22|   206.78|    207.5|   197.16|   197.75|220441900|25.620401|
|2010-01-25|   202.51|    204.7|   200.19|   203.07|266424900|26.309658|
|2010-01-26|   205.95|   213.71|   202.58|   205.94|466777500|26.681494|
|2010-01-27|206.84999|   210.58|   199.53|   207.88|430642100| 26.93284|
|2010-01-28|204.93001|    205.5|    198.7|   199.29|293375600|25.819921|
|2010-01-29|   201.08|    202.2|   190.25|   192.06|311488100|24.883207|
|2010-02-01|   192.37|    196.0|    191.3|   194.73|187469100|25.229132|
+----------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [30]:
#Using SQL
df.createOrReplaceTempView("views")

In [35]:
spark.sql("Select * from views where close  < 500 ").show()

+----------+---------+---------+---------+---------+---------+---------+
|      Date|     Open|      Hgh|      Low|    Close|   Volume|Adj Close|
+----------+---------+---------+---------+---------+---------+---------+
|2010-01-04|   213.43|    214.5|   212.38|   214.01|123432400| 27.72704|
|2010-01-05|214.59999|   215.59|   213.25|214.37999|150476200|27.774977|
|2010-01-06|214.37999|   215.23|   210.75|   210.97|138040000|27.333178|
|2010-01-07|   211.75|    212.0|   209.05|   210.58|119282800| 27.28265|
|2010-01-08|210.29999|    212.0|   209.06|211.98001|111902700|27.464033|
|2010-01-11|    212.8|    213.0|208.45001|   210.11|115557400|27.221758|
|2010-01-12|   209.19|209.76999|   206.42|   207.72|148614900| 26.91211|
|2010-01-13|207.87001|   210.93|204.09999|210.65001|151473000| 27.29172|
|2010-01-14|   210.11|210.45999|   209.02|   209.43|108223500|27.133657|
|2010-01-15|   210.93|211.59999|   205.87|   205.93|148516900|26.680199|
|2010-01-19|   208.33|   215.19|   207.24|   215.04|182501900|27.860485|
|2010-01-20|   214.91|215.54999|    209.5|   211.73|153038200|27.431644|
|2010-01-21|212.07999|   213.31|   207.21|208.06999|152038600|26.957455|
|2010-01-22|   206.78|    207.5|   197.16|   197.75|220441900|25.620401|
|2010-01-25|   202.51|    204.7|   200.19|   203.07|266424900|26.309658|
|2010-01-26|   205.95|   213.71|   202.58|   205.94|466777500|26.681494|
|2010-01-27|206.84999|   210.58|   199.53|   207.88|430642100| 26.93284|
|2010-01-28|204.93001|    205.5|    198.7|   199.29|293375600|25.819921|
|2010-01-29|   201.08|    202.2|   190.25|   192.06|311488100|24.883207|
|2010-02-01|   192.37|    196.0|    191.3|   194.73|187469100|25.229132|
+----------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [39]:
spark.sql("Select * from views where close  < 500 ").select(["Date","Open"]).show()

+----------+---------+
|      Date|     Open|
+----------+---------+
|2010-01-04|   213.43|
|2010-01-05|214.59999|
|2010-01-06|214.37999|
|2010-01-07|   211.75|
|2010-01-08|210.29999|
|2010-01-11|    212.8|
|2010-01-12|   209.19|
|2010-01-13|207.87001|
|2010-01-14|   210.11|
|2010-01-15|   210.93|
|2010-01-19|   208.33|
|2010-01-20|   214.91|
|2010-01-21|212.07999|
|2010-01-22|   206.78|
|2010-01-25|   202.51|
|2010-01-26|   205.95|
|2010-01-27|206.84999|
|2010-01-28|204.93001|
|2010-01-29|   201.08|
|2010-02-01|   192.37|
+----------+---------+
only showing top 20 rows

In [46]:
df.filter("Close < 200 and Open  > 200 ").show()

+----------+---------+-----+------+------+---------+---------+
|      Date|     Open|  Hgh|   Low| Close|   Volume|Adj Close|
+----------+---------+-----+------+------+---------+---------+
|2010-01-22|   206.78|207.5|197.16|197.75|220441900|25.620401|
|2010-01-28|204.93001|205.5| 198.7|199.29|293375600|25.819921|
|2010-01-29|   201.08|202.2|190.25|192.06|311488100|24.883207|
+----------+---------+-----+------+------+---------+---------+

In [50]:
# Alternatively
df.filter((df["Close"] < 200) & (df["Open"] > 200)).show()

+----------+---------+-----+------+------+---------+---------+
|      Date|     Open|  Hgh|   Low| Close|   Volume|Adj Close|
+----------+---------+-----+------+------+---------+---------+
|2010-01-22|   206.78|207.5|197.16|197.75|220441900|25.620401|
|2010-01-28|204.93001|205.5| 198.7|199.29|293375600|25.819921|
|2010-01-29|   201.08|202.2|190.25|192.06|311488100|24.883207|
+----------+---------+-----+------+------+---------+---------+